server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: re-shopping-cart-web-app

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:prod}

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
      minimum-idle: 5

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: none
    show-sql: ${SHOW_SQL:false}

  thymeleaf:
    cache: ${THYMELEAF_CACHE:false}
